@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

[data-theme='dark'] {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} */
@layer base {
  .filter-grayscale {
    filter: grayscale(100%);
  }
  body {
    @apply bg-gray-200 dark:bg-gray-900;
  }
  th,
  td {
    @apply dark:text-black;
  }
  input {
    @apply dark:bg-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-green-contact-us {
    background-color: rgba(30, 44, 48, 1);
  }
  .text-banner {
    background: linear-gradient(to top, rgb(28, 77, 225) 30%, white 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  #cart:hover {
    opacity: 0.5;
    background-color: gray;
  }
  #add-to-cart {
    opacity: 0;
  }
  #cart:hover > #add-to-cart {
    opacity: 1;
  }
}
